<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5>Facings</h5>
        <p>Een facings is een dun schildje, van composiet of porselein, dat geplaatst wordt op een tand of kies. Daarmee kan de vorm en kleur van een tand of kies aangepast worden.
          <br><br>
          Verschil tussen facing en kroon<br>
          Een facing is niet hetzelfde als een kroon; bij een kroon wordt er een kapje over de gehele tand of kies geplaatst, bij een facing wordt er een schildje tegen de tand of kies geplaatst. Voor een kroon moet er veel tandweefsel worden opgeofferd, voor een facing veel minder of soms helemaal niets.
          <br><br>
          Werkwijze composiet<br>
          Allereerst wordt er naar het gehele gebit gekeken tijdens een intake. Daarna wordt er een behandelplan met begroting opgesteld. Er kan gekozen worden uit facings die met een mal vervaardigd worden of uit de hand. De mal techniek wordt met behulp van 'digital smile design' vervaardigd, waardoor u van te voren al een idee krijgt hoe de tanden eruit komen te zien. Indien de facings uit de hand worden gemaakt dan is dit in 1 sessie klaar. Voor porseleinen facings wordt er altijd een smile design gemaakt.
          <br><br></p>
          <h5>Kosten indicatie</h5>
          <h6>Smile design:</h6> <p>400 euro</p><br>
          <h6>Composieten facings:</h6> <p>150-200 euro per tand of kies</p><br>
          <h6>Porseleinen facigns:</h6> <p>500 euro per tand</p><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img class="portfolio-photo img-fluid" src="assets/images/portfolio/meneer4.jpeg">
      </div>
      <div class="col-md-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in feugiat lacus. Nunc dapibus, quam id porta pretium, arcu erat fringilla sapien, sed auctor felis diam quis felis. Proin non libero iaculis, egestas purus vitae, maximus dolor. Duis laoreet leo sit amet fermentum dapibus. Suspendisse ac nisi libero. Pellentesque sodales molestie rhoncus. Mauris ultricies imperdiet venenatis.</p>
      </div>
      <div class="col-md-4">
        <img class="portfolio-photo img-fluid" src="assets/images/portfolio/meneer5.jpeg">
      </div>
    </div>
  </div>
</div>
