<section id="contact" class="contact section-bg">
  <div class="container">

    <div class="section-title">
      <h1>Contactgegevens</h1>
    </div>
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Adres</h2>
            <ul>
              <li>Spoorbaan 1</li>
              <li>9901 DD Appingedam</li>
              <li>0596 219 219</li>
              <li><a href="https://puurmondzorg.nl/tandarts/spoorbaan/">Naar de website</a></li>
            </ul>
            <h2>Openingstijden</h2>
            <ul>
              <li>Ma: 08:00 - 21:00 uur</li>
              <li>Di t/m vr: 08:00 - 17:00 uur</li>
            </ul>
          </div>
          <div class="col-md-8">
            <iframe class="googlemapsframe" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9531.901728235514!2d6.8597778!3d53.3257932!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8734a11ccac0aaaa!2sPUUR%20Mondzorg%20Spoorbaan!5e0!3m2!1snl!2snl!4v1664198157055!5m2!1snl!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
