wddd<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <div class="logo me-auto">
      <h1><a href="index.html">MT Tandheelkunde</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto" href="#wie-ik-ben">Wie ben ik</a></li>
        <li class="dropdown"><a class="nav-link scrollto" href="#wat-ik-doe"><span>Wat doe ik</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Facings</a></li>
            <li><a href="#">Gebitsslijtage</a></li>
            <li><a href="#">Kroon- en brugwerk</a></li>
            <li><a href="#">ICON</a></li>
            <li><a href="#">Bleken</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto " href="#contact">Contact</a></li>
        <li><a class="nav-link scrollto" href="#testimonials">Reviews</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <div class="header-social-links d-flex align-items-center">
      <a href="#" class="telefoon"><i class="bi bi-telephone"></i></a>
      <a href="#" class="email"><i class="bi bi-mailbox"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>

  </div>
</header>
