<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light navbar-customclass">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MT</a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarToggleExternalContent"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="toggleNavbarCollapsing()"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggleExternalContent" [class.collapse]="navbarCollapsed">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">Over</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Puur Mondzorg</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Jumbotron -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">MT Tandheelkunde</h1>
      <p class="lead">Ze breekt je de bek open hoor</p>
    </div>
  </div>
  <!-- Jumbotron -->
</header>

