<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5>Gebitsslijtage</h5>
        <p>
          Gebitsslijtage ontstaat door verlies van tandweefsel door oorzaken anders dan cariës (gaatjes, tandbederf). Het komt bij iedereen voor en is in de loop van de tijd bij iedereen waarneembaar (normale, fysiologische slijtage). Soms verloopt de slijtage echter sneller dan normaal (pathologische slijtage). De tanden en kiezen worden dan steeds korter. Het glazuur slijt allereerst in, met daaronder het tandbeen. Indien het tandbeen bloot ligt zal de slijtage extra snel voortschrijden. Het is zaak om op tijd de (pathologische) slijtage te signaleren en te behandelen indien nodig.
          <br><br></p>
        <h6>Werkwijze</h6>
        <p>Tijdens een intake wordt de mate van slijtage in kaart gebracht en een passend behandelplan opgesteld. Meestal worden er afdrukken gemaakt, afhankelijk van de mate van de slijtage en de omvang van het behandelplan. De slijtage wordt meestal in eerste instantie hersteld door middel van een laagje composiet over de tand of kies. Indien na een aantal jaren blijkt dat het composiet snel slijt, kan het composiet omgezet worden in porselein. Indien er sprake is van weinig slijtage, wordt de slijtage hersteld door dit 'uit de hand' te maken. Indien het gaat om een omvangrijk slijtage plan wordt er eerst een digital smile design gemaakt. Daarna wordt de slijtage met behulp van mallen opgebouwd. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img class="portfolio-photo img-fluid" src="assets/images/portfolio/meneer4.jpeg">
      </div>
      <div class="col-md-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in feugiat lacus. Nunc dapibus, quam id porta pretium, arcu erat fringilla sapien, sed auctor felis diam quis felis. Proin non libero iaculis, egestas purus vitae, maximus dolor. Duis laoreet leo sit amet fermentum dapibus. Suspendisse ac nisi libero. Pellentesque sodales molestie rhoncus. Mauris ultricies imperdiet venenatis.</p>
      </div>
      <div class="col-md-4">
        <img class="portfolio-photo img-fluid" src="assets/images/portfolio/meneer5.jpeg">
      </div>
    </div>
  </div>
</div>
