<footer>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="mx-auto d-lg-inline-flex justify-content-center col-md-12">
          <div class="card" routerLink="/facings" style="width: 18rem;">
            <img class="card-img-top mx-auto" src="assets/images/about.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Facings</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" routerLink="/kroon-en-brugwerk" style="width: 18rem;">
            <img class="card-img-top mx-auto" src="assets/images/tooth.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Kroon- en brugwerk</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" routerLink="/gebitsslijtage" style="width: 18rem;">
            <img class="card-img-top mx-auto" src="assets/images/tooth.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Gebitsslijtage</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" routerLink="/icon" style="width: 18rem;">
            <img class="card-img-top mx-auto" src="assets/images/tooth.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">ICON</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" routerLink="/bleken" style="width: 18rem;">
            <img class="card-img-top mx-auto" src="assets/images/tooth.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bleken</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
