<footer>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card-group">
            <div class="card" routerLink="/about" style="width: 18rem;">
              <img class="card-img-top mx-auto" src="assets/images/about.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Over mij</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card" routerLink="/portfolio" style="width: 18rem;">
              <img class="card-img-top mx-auto" src="assets/images/tooth.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Portfolio</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card" routerLink="/contact" style="width: 18rem;">
              <img class="card-img-top mx-auto" src="assets/images/contact-mail.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Puur Mondzorg</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
