<section id="wie-ik-ben" class="wie-ik-ben services">
  <div class="container">

    <div class="row">
      <div class="col-lg-6">
        <img src="assets/img/wie-ik-ben/Schermafbeelding%202022-12-24%20om%2020.18.15.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <h3>Wie ik ben</h3>
        <p>
          In juli 2016 ben ik afgestudeerd als tandarts aan de Rijksuniversiteit te Groningen. Inmiddels werk ik in verschillende praktijken met als 'hoofd praktijk' PUUR mondzorg Spoorbaan te Appingedam. De afgelopen jaren heb ik bij- en nascholing gevolgd in verschillende vakgebieden. Mijn passie ligt bij de restauratieve en esthetische tandheelkunde, waarvan u op deze website verschillende voorbeelden zult vinden. Ik vind het belangrijk om kwaliteit te leveren, een passend behandelplan te maken en stel daarbij de patiënt centraal, want iedereen is uniek!
        </p>
        <div class="row icon-boxes">
          <div class="col-md-6">
            <i class="bx bx-receipt"></i>
            <h4>BIG-nummer</h4>
            <p>09921248802</p>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <i class="bx bx-cube-alt"></i>
            <h4>KvK-nummer</h4>
            <p>66335892</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
