<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Tandarts Marynthe Tijink</h1>
        <p>In juli 2016 ben ik afgestudeerd voor de 6-jarige opleiding tandheelkunde in Groningen. Deze studie heb ik met veel enthousiasme gedaan, waarbij ik het laatste jaar stage heb gelopen op de afdeling voor angstige patiënten in het Medisch Centrum Leeuwarden. In 2018 heb ik de opleiding Reconstructieve Tandheelkunde van Sjoerd Smeekens afgerond. Ik vind het belangrijk om kwaliteit te leveren, een passend behandelplan te maken en stel daarbij de patiënt centraal, want iedereen is uniek!
          Momenteel ben ik werkzaam in praktijk MZC Spoorbaan te Appingedam op de maandag, dinsdag, donderdag, vrijdag. Zie de pagina hier bovenaan om contactgegevens in te zien van deze praktijk.
        </p>
        <h6>
          BIG-nummer: 09921248802
        </h6>
        <h6>
          KvK nummer: 66335892
        </h6>
      </div>
    </div>
  </div>
</div>
