<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col tekst">
        <h5>
          Over mij
        </h5>
        <p>In juli 2016 ben ik afgestudeerd als tandarts aan de Rijksuniversiteit te Groningen. Inmiddels werk ik in verschillende praktijken met als 'hoofd praktijk' PUUR mondzorg Spoorbaan te Appingedam. De afgelopen jaren heb ik bij- en nascholing gevolgd in verschillende vakgebieden. Mijn passie ligt bij de restauratieve en esthetische tandheelkunde, waarvan u op deze website verschillende voorbeelden zult vinden. Ik vind het belangrijk om kwaliteit te leveren, een passend behandelplan te maken en stel daarbij de patiënt centraal, want iedereen is uniek! Indien u geïnteresseerd bent in een bepaalde behandeling, kunt u een email sturen naar ...
        </p>
        <h6>
          BIG-nummer: 09921248802
        </h6>
        <h6>
          KvK nummer: 66335892
        </h6>
      </div>
    </div>
  </div>
</div>
