<section id="wat-ik-doe" class="wat-ik-doe section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Wat ik doe</h2>
    </div>

<!--    <div class="row">-->
<!--      <div class="col-lg-3 mb-4">-->
<!--        <div class="icon-box">-->
<!--          <img src="assets/img/facings/facings1.jpeg" alt="" class="card-img-top">-->
<!--          <div class="card-body">-->
<!--            <h4 class="card-title">Facings</h4>-->
<!--            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>-->
<!--            <a href="" class="btn btn-outline-success btn-sm">Read More</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-lg-3 mb-4">-->
<!--        <div class="icon-box">-->
<!--          <img src="assets/img/slijtage/slijtage2.jpeg" alt="" class="card-img-top">-->
<!--          <div class="card-body">-->
<!--            <h4 class="card-title">Gebitsslijtage</h4>-->
<!--            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>-->
<!--            <a href="" class="btn btn-outline-success btn-sm">Read More</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-lg-3 mb-4">-->
<!--        <div class="icon-box">-->
<!--          <img src="assets/img/kroonbrugwerk/brug1.jpeg" alt="" class="card-img-top">-->
<!--          <div class="card-body">-->
<!--            <h4 class="card-title">Kroon- en brugwerk</h4>-->
<!--            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>-->
<!--            <a href="" class="btn btn-outline-success btn-sm">Read More</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-lg-3 mb-4">-->
<!--        <div class="icon-box">-->
<!--          <img src="assets/img/bleken/bleken.jpeg" alt="" class="card-img-top">-->
<!--          <div class="card-body">-->
<!--            <h4 class="card-title">Bleken</h4>-->
<!--            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>-->
<!--            <a href="" class="btn btn-outline-success btn-sm">Read More</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <app-cards [cards]="werkzaamheden"></app-cards>

  </div>
</section>
