<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col col-md-4">
        <img class="img-fluid brugwerk-photo" src="assets/images/kroon-en-brugwerk/brug1.jpeg">
        <img class="img-fluid brugwerk-photo" src="assets/images/kroon-en-brugwerk/brug2.jpeg">
        <img class="img-fluid brugwerk-photo" src="assets/images/kroon-en-brugwerk/brug3.jpeg">
        <img class="img-fluid brugwerk-photo" src="assets/images/kroon-en-brugwerk/brug4.jpeg">
        <img class="img-fluid brugwerk-photo" src="assets/images/kroon-en-brugwerk/brug5.jpeg">
        <img class="img-fluid brugwerk-photo" src="assets/images/kroon-en-brugwerk/brug6.jpeg">
        <p>9-delige brug van zirkonium met opgebakken porselein</p>
      </div>
      <div class="col-md-8 col">
        <div class="row tekst">
          <h5>Kroon- en brugwerk</h5>
          <p>Een kroon is een overkappend dopje over een natuurlijke tand of kies en geeft daarmee stevigheid. Soms is een tand of kies zo beschadigd, dat het hersteld moet worden middels een kroon. Een brug wordt gemaakt indien er 1 of meerdere tanden of kiezen missen. Kronen en bruggen zijn bedoeld als duurzame vervangingen voor tanden en kiezen. Ze benaderen de oorspronkelijke vorm, kleur en functie zoveel mogelijk. Ze beschermen en verstevigen de originele tanden.
          </p>
        </div>
        <div class="row"></div>
      </div>
    </div>
  </div>
</div>
