<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5>Kroon- en brugwerk</h5>
        <p>Een kroon is een overkappend dopje over een natuurlijke tand of kies en geeft daarmee stevigheid. Soms is een tand of kies zo beschadigd, dat het hersteld moet worden middels een kroon. Een brug wordt gemaakt indien er 1 of meerdere tanden of kiezen missen. Kronen en bruggen zijn bedoeld als duurzame vervangingen voor tanden en kiezen. Ze benaderen de oorspronkelijke vorm, kleur en functie zoveel mogelijk. Ze beschermen en verstevigen de originele tanden.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img class="portfolio-photo img-fluid" src="assets/images/portfolio/meneer4.jpeg">
      </div>
      <div class="col-md-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in feugiat lacus. Nunc dapibus, quam id porta pretium, arcu erat fringilla sapien, sed auctor felis diam quis felis. Proin non libero iaculis, egestas purus vitae, maximus dolor. Duis laoreet leo sit amet fermentum dapibus. Suspendisse ac nisi libero. Pellentesque sodales molestie rhoncus. Mauris ultricies imperdiet venenatis.</p>
      </div>
      <div class="col-md-4">
        <img class="portfolio-photo img-fluid" src="assets/images/portfolio/meneer5.jpeg">
      </div>
    </div>
  </div>
</div>
