:root {
  --red: tomato;
  --bgColor: bisque;
  --blue: #8496B3;
}

body {
  background-color: #fffaf0;
  margin: 0;
  padding: 0;
}

html {
  background-color: #fffaf0;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
}

.googlemapsframe {
  height: 100%;
  padding-top: 15px;
  alignment: center;
  width: 100%;
}

.card {
  border: none!important;
  transition: all 1s ease-out;
  margin-top: 40px;
  border-spacing: 40px;
  cursor: pointer;
  box-shadow:
    -50px -50px 0 -40px #699CEE,
    50px 50px 0 -40px #8496B3;
}

.card:hover {
  background-color: #FBDDA0!important;
  transition: all 1s ease-in;
}

.card-group {
  margin-top: 20px;
}

.jumbotron {
  max-height: 400px;
  background-image: url("assets/images/marynthe2.png");
  background-size: 75%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: white!important;
  margin-bottom: 0px!important;
  padding: 0;
}

.wrapper {
  background-color: #fffaf0;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.containter {
  background-color: #fffaf0;
  padding: 0;
}

.col {
  margin-top: 40px!important;
}

.card-img-top {
  max-width: 25%;
  height: auto;
}

.portfolio-photo {
  pointer-events: none;
}

.facings-photo {
  pointer-events: none;
  box-shadow: 20px 5px 0px 20px #699CEE!important;
  margin-bottom: 20px;
}

.brugwerk-photo {
  pointer-events: none;
  box-shadow: -20px 10px 0px 20px #FBDDA0!important;
  margin-bottom: 20px;
}

.slijtage-photo {
  pointer-events: none;
  box-shadow: -20px 10px 0px 20px #FBDDA0!important;
  margin-bottom: 20px;
}

.tekst {
  border: none!important;
  background-color: white!important;
  margin-bottom: 20px;
  box-shadow:
    -50px -50px 0 -40px #699CEE,
    50px 50px 0 -40px #FBDDA0;
}
