body {
  background-color: #fffaf0;
  margin: 0;
  padding: 0;
}

html {
  background-color: #fffaf0;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
}

.googlemapsframe {
  height: 100%;
  padding-top: 15px;
  alignment: center;
  width: 100%;
}

.card {
  border: none!important;
  background-color: #fffaf0!important;
  transition: all 1s ease-out;
}

.card:hover {
  background-color: #F0F6FF!important;
  transition: all 1s ease-in;
}

.card-group {
  margin-top: 20px;
}

.jumbotron {
  max-height: 400px;
  background-image: url("assets/images/marynthe2.png");
  background-size: 75%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #F0F6FF!important;
  margin-bottom: 0!important;
  padding: 0;
}

.wrapper {
  background-color: #fffaf0;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.containter {
  background-color: #fffaf0;
  margin-top: 0;
  padding: 0;
}

.card {
  margin-top: 0;
  text-align: center;
  cursor: pointer;
}

.card-img-top {
  max-width: 25%;
  height: auto;
}

.portfolio-photo {
  pointer-events: none;
}

.navbar-customclass {
  background-color: #F0F6FF;
  backdrop-filter: invert(80%)!important;
}
